.page-wrapper {
  height: 100%;
}

.row-style {
  height: 50%;
}


.logo{
  height: 100%;
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 100%;
    max-width: 100%;
  }
  h3 {
    margin-top: 30px;
    text-align: center;
  }
}

.item1, .item2, .item3, .item4, .item5 {
  padding: 0;
  height: 100%;
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-height: 80%;
  }
  h3 {
    margin: 5px;
    text-align: center;
  }
  h4 {
    margin: 5px;
    text-align: center;
    position: relative;
    bottom: 0.5em;
  }
}

.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover {
  cursor: pointer;
}
.item1:hover img, .item2:hover img, .item3:hover img, .item4:hover img, .item5:hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item1{
  background-color: rgb(120,195,57);
}

.item2 {

  background-color: white;
}

.item3 {
  background-color: rgb(120,195,57);
}

.item4 {
  background-color: white;
}

.item5 {
  background-color: rgb(120,195,57);
}

