.itinerary-page{
  // position: relative;
}

button.user-qr {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #fafafa;
  color: #3173da;
}

button.user-qr:hover {
  border: 1px solid #3173da;
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: flex;
  justify-content:space-between;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  float: right;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
}


.btn-3 {
  background: orange;
  color: #fff;
}

.btn-3:hover {
  background: #f29e0d;
}


.btn-3:active {
  background: #f58500;
  top: 2px;
}

.btn-3:before {

  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.button-div{
  clear: both;
  padding-right: 130px;
  border-radius: 10px;
  background-color: #fafafa;
  color: #3173da;
}


.full-page{
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media(min-width: 768px) {
  // .selected{
  //     margin-right: 8.33333%;
  // }
}

@media(min-width: 1900px){
  div.box-container.col-sm-12 {
    padding: 20px 120px 20px 100px;
  }
  div.mapcontainer{
    padding-left: 15%;
  }
}

@media(max-width: 768px) {
  .qr{
    size: 128;
  }
}

.top-search{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  justify-content: center;

  h5 {
    text-align: center;
  }
  .align{
    flex-basis: 50%;
  }
}

.selected{
  margin-left: 5%;
  padding: 2%;
  flex-grow: 0.8;
  background-color: #FFFFFF;
  h2 {
    display: inline;
  }
  button {
    float: right;
  }
}



div.box-container{
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 20px 90px 20px 60px;
}

.content-itinerary{
  flex: 1 0 auto;
}

.fa-trash-o:hover{
  color: red;
  cursor: pointer;
  -webkit-text-stroke: .3px red;
}

.footer{
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  padding: 0 3em 0 0;
}

.map{
  width:100%;
}

.over-flowing {
  border: 1px solid #ddd;
  height: 250px;
  margin-top: 10px;
  overflow-y: scroll;
}

.canvas_border {
  outline: 1px solid yellow;
}

.phone_rorate{
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.effect8{
  -webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.75);
}

.list-align{
  display: flex;
  justify-content: space-between;
}

.adding:hover{
  cursor: pointer;
  background-color: #f5f5f5;

  .fa{
    color: green;
    -webkit-text-stroke: .3px green;
  }
}

input:focus {
    outline: 0;
}

button.itinerary-edit {
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: white;
  color: #3173da;
  &:hover{
    border: 1px solid #3173da;
  }
}

.mapcontainer{
  margin-top: 50px;
  margin-left: 4%;
  margin-right: 5.7%;
  padding-left: 2%;
  background-color: #ffffff;
}

.overwrapping{
  background-color: #fafafa;
  padding-bottom: 100px;
}

li {
  i{
    float: right;
  }
}

#modal-QR-title{
  text-align: center;
}
#modal-QR-body{
    margin-left: auto;
    width: 50%;
    margin-right: auto;
}

.Select-placeholder.fake{
  position: relative;
}

li.workshop i{
   color: orange;
}
