#root, #container-index, #wrapper{
  height: 100%;
}

#framvid {
  border: 0;
  width: 100%;
  height: 500px;
  display: block;
}
.alert.danger {
  text-align: center;
}

#userReg {
  margin-top: 32px;
}

.venue-container {
  background: url(/green-bg-8k.gif);
  background-repeat: repeat-y;
  background-position: top center;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
  overflow: hidden;

}

#root {
  .venue-left-container {
  padding: 0;
  }
}
.venue-left-container {
height: 100%;
background-color: white;
padding: 0;
img.brand {
  height: 60px;
  padding-left: 40px;
}
h2 {
  padding-left: 40px;
  text-align: center;
}
}

.logo-sponsor {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  img {
    flex-shrink: 1;
    // flex-basis: 10%;
    max-width: 180px;
    max-height: 180px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.carousel-venue{

}

.venue-right-container {
  background-color: rgba(122, 193, 67, 1);
  height: 120%;
  h4 {
    color: white;
    display: inline;
    float: right;
    margin-right: 40px;
    line-height: 60px;
    transform: translateY(-25%)
  }
  h4:hover{
    text-decoration: underline;
    // border-bottom: solid 1px white;
    cursor: pointer;
  }
  .form-input {
    background-color: rgba(122, 193, 67, 0.2) !important;

    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    /*border-bottom-color: white;*/
    box-shadow: inset 0 0px 1px 0 rgba(0, 0, 0, 0);
    border-bottom-color: white !important;
    border-radius: 0;
    box-shadow: 0;
    color: white;
    display: block; //Inserted by Aecio to test new form
    margin-right: auto; //Inserted by Aecio to test new form
    margin-left: auto; //Inserted by Aecio to test new form
    /*nima changed from 70%*/
    width: 100%;
    // height: 53px;
    font-family: FontAwesome, "Open Sans";
    padding: 0; ////Inserted by Aecio to test new form
  }
}
.gold-sponsor {
  margin-top: 60px;
}
.reg-form-container {
  clear: both;
  margin-top: 135px;
}

.registration-title {
  margin-top: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  text-align: center;
  color: white;
}
button.regButton {
    display: block; //Inserted by Aecio to test new form
    width: 30%; //Inserted by Aecio to test new form
    height: 40px;
    margin-right: auto; //Inserted by Aecio to test new form
    margin-left: auto; //Inserted by Aecio to test new form
    border-radius: 42px;
    background-image: -webkit-linear-gradient(top, #7ac143 0%, #7ac143 100%);
    border: 3px solid;
    border-radius: 42px;
    border-color: white ;
    color: white;
    font-size: 16px;
    text-shadow: none;
}

button.regButton:hover {
     background-color: #7ac143;
     color: white;
}
button.regButton:active {
     background-color: #7ac143;
     outline: none !important;
     color: white;
     border-color: white;
}
button.regButton:focus {
     background-color: #7ac143;
     color: white;
    border-color: white;
    outline: none !important;
}

.rebutton-margin{
      margin-left: 25%;
}

#userReg {
  /*nima added*/
    width: 70%;
    margin: auto;
  /*----------*/
  .form-label{
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*nima changed from 70%*/
  width: 100%;
  text-align: left;
  color: white;
  font-size: 18px;
  }
}

#userlog {

  .form-label{
  margin-left: 0;
  margin-right: 0;
  display: block;
  width: 70%;
  text-align: left;
  color: white;
  font-size: 18px;
  }
}
#login-modal-title{

  border-bottom: 0;
  text-align: center;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  padding: 8px;
}

#formHorizontalFirstName, #formHorizontalLastName, #formHorizontalEmail, #formHorizontalPassword{
  font-size: large;
}


#logButton {
  /*background-image: #299936;*/
    /*display: block; //Inserted by Aecio to test new form*/
    width: 30%; //Inserted by Aecio to test new form
    /*vertical-align: middle;*/
    margin-right: 0; //Inserted by Aecio to test new form
    margin-left: 0; //Inserted by Aecio to test new form
    border-radius: 42px;
    background-image: -webkit-linear-gradient(top, #7ac143 0%, #7ac143 100%);
    border-radius: 42px;
    border-color: white;
    color: white;
    text-shadow: 0 0px 0 #fff;
}
#logButton:hover {
     background-color: #7ac143;
     color: white;
}
#logButton:active {
     background-color: #7ac143;
     outline: none !important;
     color: white;
     border-color: white;
}
#logButton:focus {
     background-color: #7ac143;
     color: white;
    border-color: white;
    outline: none !important;
}

#logbutton-margin{
      margin-left: 25%;
}

.login-modal .modal-content{
  background-color: rgba(122, 193, 67, 1) !important;

}

#login-form-border{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-radius: 0;
  box-shadow: inset 0 0px 1px 0 rgba(0, 0, 0, 0);
  border-bottom-color: white !important;
  background-color: rgba(122, 193, 67, 0.2) !important;
  color: white;
}

@-webkit-keyframes autofill {
    to {
        color: #FFFFFF;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    box-shadow: inset 0 0px 1px 0px rgba(0, 0, 0, .075);
}

#userReg .form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5)   ; font-size: 18px; }
#userlog .form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5)   ; font-size: 18px; }
#userReg .form-control:-moz-placeholder { color: white; font-size: 18px;}
#userlog .form-control:-moz-placeholder { color: white; font-size: 18px;}
#userReg .form-control::-moz-placeholder { color: white; font-size: 18px; }
#userlog .form-control::-moz-placeholder { color: white; font-size: 18px; }
#userReg .form-control:-ms-input-placeholder { color: white; font-size: 18px; }
#userlog .form-control:-ms-input-placeholder { color: white; font-size: 18px; }

.error-message {
  width: 70%;
/*  margin-left: auto;
  margin-right: auto;*/
}


p.regError {
  color: rgba(255, 255, 255, 0.5);
  margin: 10px auto 0px auto;
  display: block;
  text-align: center;
}

.pdf {
  width: 100%;

}